<p *ngIf="loginService.isLoggedIn">Loged In</p>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['']">Home</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" [routerLink]="['students']">Student Pages</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" [routerLink]="['about']">About</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" [routerLink]="['login']">login</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" [routerLink]="['example-api-call']">api call example</a>
  </li>

  <li class="nav-item">
    <app-theme-toggler class="nav-link" ></app-theme-toggler>
  </li>
</ul>
