
<h1>These are the github pages of the attending students</h1>

<div class="list-group list-group-checkable d-grid gap-2 border-0">
  <app-student-page
    [url]="'https://dy95rabo.github.io/angular_project/'"
    [description]="'Sammelseite für diverse Spiele. Z.B. Tic Tac Toe'">
  </app-student-page>
  <app-student-page
    [url]="'https://janbbodenmann.github.io/BOJA_Angular3'"
    [description]="'Todo App'">
  </app-student-page>
  <app-student-page
    [url]="'http://mariob06.github.io/angular_project'"
    [description]="'Notiz App'">
  </app-student-page>
  <app-student-page
    [url]="'https://eizval.github.io/angular/'"
    [description]="'Eine Sammelseite für Infos und Angular Playground'">
  </app-student-page>
  <app-student-page
    [url]="'https://dariokempf.github.io/angular-projekt/'"
    [description]="'Angular Starter App'">
  </app-student-page>
  <app-student-page
    [url]="'https://luanasani.github.io/AsLu_Angular'"
    [description]="'Angular Grundgerüst / Clicker Spiel'">
  </app-student-page>
</div>
