
<h1>These are the github pages of the attending students</h1>

<app-student-github-page [url]="'https://janbbodenmann.github.io/BOJA_Angular1'"></app-student-github-page>
<app-student-github-page [url]="'http://mariob06.github.io/angular_project'"></app-student-github-page>
<app-student-github-page [url]="'https://eizval.github.io/angular/'"></app-student-github-page>
<app-student-github-page [url]="'https://dariokempf.github.io/angular-projekt/'"></app-student-github-page>
<app-student-github-page [url]="'https://luanasani.github.io/AsLu_Angular'"></app-student-github-page>
<app-student-github-page [url]="'https://dy95rabo.github.io/angular_project/'"></app-student-github-page>
